
.pokedex-pokemon {
    border: 2px solid #ddd;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    background-color: #f5fac6;
}

.pokedex-pokemon-id-name {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 5px;
}

.pokedex-pokemon-sprites {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pokedex-pokemon-sprites img {
    height: 100px;
    width: auto;
}