@font-face {
    font-family: carnacLight;
    src: url("../assets/fonts/Carnac-Light.otf");
    font-display: swap;
}

body {
    font-family: carnacLight;
    color: #393e41;
    background-color: #f9f5db;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

button {
    background: linear-gradient(#f2cc39, #f9f5db);
    border: 1px solid #f2cc39;
    color: #393e41;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.pokemon-page {
    width: 100vh;
}
.pokemon {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    background-color: #ffffff; /* White background color */
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.pokemon-id-name {
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.pokemon-sprites {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.pokemon-sprites img {
    max-width: 100%;
    height: auto;
}

.pokemon-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.pokemon-artwork {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pokemon-artwork img {
    width: 200px;
    height: auto;
}

.pokemon-details {
    width: 100%;
    max-width: 600px; /* Limit the width of the details table */
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 15px;
    font-size: 1.2rem;
}

.pokemon-details td {
    border: 5px solid;
    background-color: #f1e8a7;
    border-radius: 30px;
    padding: 15px;
    text-align: center;
    white-space: nowrap;
}

.pokemon-details td:first-child {
    font-weight: bold;
}