@font-face {
    font-family: carnacLight;
    src: url("../assets/fonts/Carnac-Light.otf");
    font-display: swap;
}

.search-bar {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px;
}
  
input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    font-family: carnacLight;
}

button {
    font-size: 16px;
}